{% extends "base.html"%}

{%block title%}Slovenski nacionalni preiskovalni urad{%endblock title%}

{%block content%}
		<h2>Sistem za analizo DNK</h2>
		<img id="dnaImg" src="../assets/images/dna.gif">
		<h2>Prosimo vnesite DNK šifro za analizo:</h2>
		<form action="/analysis" method="post">
			<textarea rows="5" cols="50" name="dna">ACAAGATGCCATTGTCCCCCGGCCTCCTGCTGCTGCTGCTCTCCGGGGCCACGGCCACCGCTGCCCTGCCCCTGGAGGGTGGCCCCACCGGCCGAGACAGCGAGCATATGCAGGAAGCGGCAGGAATAAGGAAAAGCAGCCTCCTGACTTTCCTCGCTTGGTGGTTTGAGTGGACCTCCCAGGCCAGTGCCGGGCCCCTCATAGGAGAGGAAGCTCGGGAGGTGGCCAGGCGGCAGGAAGGCGCACCCCCCCAGCAATCCGCGCGCCGGGACAGAATGCCCTGCAGGAACTTCTTCTGGAAGACCTTCTCCTCCTGCAAATAAAACCTCACCCATGAATGCTCACGCAAGTTTAATTACAGACCTGAA</textarea><br>
			<input type="submit" value="Analiziraj!">
		</form>
{%endblock content%}